[submodule "z.lua"]
	path = .config/zsh/z.lua
	url = git@github.com:skywind3000/z.lua.git
	branch = master
[submodule "zsh-completions"]
	path = .config/zsh/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
	branch = master
[submodule "zsh-syntax-highlighting"]
	path = .config/zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "vimtex"]
	path = .vim/pack/default/start/vimtex
	url = git@github.com:lervag/vimtex.git
	branch = master
[submodule "fzf.vim"]
	path = .vim/pack/default/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
	branch = master
