Emacs.font: Iosevka Custom-15
Emacs.paneFont: -*-terminus-*-r-*-*-15-*-*-*-*-*-*-*
Emacs.selectionFont: -*-terminus-*-r-*-*-13-*-*-*-*-*-*-*

Emacs.backgroundMode: dark
Emacs.background: black
Emacs.foreground: white
Emacs.cursorBlink: off
Emacs.horizontalScrollBars: off
Emacs.verticalScrollBars: off
Emacs.menuBar: off
Emacs.toolBar: off

Emacs.fullscreen: maximized
