Emacs.font: Iosevka Custom-13
Emacs.paneFont: -*-terminus-*-r-*-*-13-*-*-*-*-*-*-*
Emacs.selectionFont: -*-terminus-*-r-*-*-11-*-*-*-*-*-*-*

Emacs.cursorBlink: off
Emacs.horizontalScrollBars: off
Emacs.verticalScrollBars: off
Emacs.menuBar: off
Emacs.toolBar: off

Emacs.fullscreen: maximized
